/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
  font-family: 'KHFont';
  src: url('../fonts/KH2ALLMENUI.eot');
  src: url('../fonts/KH2ALLMENUI.woff') format('woff'),
  url('../fonts/KH2ALLMENUI.svg') format('svg'),
  url('../fonts/KH2ALLMENUI.woff2') format('woff2'),
  url('../fonts/KH2ALLMENUI.ttf') format('truetype');
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.settings-label {
  font-family: "Lucida Console", Courier, monospace;
  white-space: nowrap;
  font-size: 20px !important;
}

div.ui.checked.toggle.checkbox {
  color: white;
}

.ui.header.settings-header {
  font-family: 'KHFont';
  text-decoration: underline;
  color: white;
  font-size: 25px;
}

.settings-container {
  width: fit-content;
  height: fit-content;
  background-color: #7b7b7b;
  overflow: hidden;
  padding: 10px;
}

a.item {
  font-family: 'KHFont';
  color: gold !important;
  cursor: pointer;
  background-color: #0a0d8e !important;
}

a.active.item {
  background-color: #0007ff !important;
}

.tabular.menu {
  margin-bottom: 3px;
}

.segment.active.tab {
  padding: .25em .25em;
  background-color: #0007ff;
  border: 0px !important;
}

.activeTab {
  /* background-color: #0007ff; */
}

.mainBody {
    background-image: url("../images/Background.jpg");
    background-color: #0b154f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0px;
}
div.main-grid {
  width: 100%;
  height: 95vh;
  max-width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
}
.item-tracker {
  grid-row: 1;
  grid-column: 2;
}
.important-checks-tracker {
  grid-row: 1;
  grid-column: 1;
  width: 90%;
  min-width: 576px;
  padding-right: 20px;
  max-height: 90vh;
}

.title-bar {
  width: 100% !important;
  background-color: #0a0d8e;
  height: 30px;
}

.titlebar-setting-icon {
  float: right;
  padding-right: 30px;
  padding-top: 5px;
  cursor: pointer;
}

.ui.modal.settings-modal {
  border: 1px solid #0007ff;
}

.ui.modal>.header.settings-modal-header {
  background-color: #0007ff;
  color: gold;
  font-family: 'KHFont'
}

.ui.modal>.content.settings-modal-body {
  background-color: #0a0d8e;
  color: white;
}

.ui.modal>.actions.settings-modal-actions {
  background-color: #0007ff;
}

.important-check-world-grid {
  height: 45px;
  width: 45px;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
  float: left;
}

.important-check-world-icon {
  grid-row: 1;
  grid-column: 1 / span 3;
}

.world-icon-total-important-tens {
  height: 25px;
  width: 25px;
  grid-row: 1;
  grid-column: 2;
  z-index: 1;
  margin-top: 25px;
  margin-left: 5px;
}

.world-icon-total-important-ones {
  height: 25px;
  width: 25px;
  grid-row: 1;
  grid-column: 3;
  z-index: 1;
  margin-top: 25px;
}

.important-check-world-icon {
  height: 45px;
  width: 45px;
  cursor: pointer;
  grid-row: 1;
  grid-column: 1 / span 3;
}

.important-check-window {
  border: 1px solid black;
  background-color: #3F3F3F;
  height: 85vh;
  overflow: auto;
}

.ui.button.add-button {
  background-color: #0007ff;
  color: gold;
  font-family: 'KHFont';
}

.world-important-checks {
  min-height: 100px;
}

.important-check-item {
  cursor: pointer;
  padding: 0 0 0 0 !important;
  width: fit-content !important;
}

.world-check-grid {
  display: grid;
  float: left;
  margin-left: 0px !important;
  grid-template-columns: 5;
  max-width: 220px;
}

.info-icon {
  color: white;
  padding-left: 10px;
}

.world-check-item {
  padding: 0 0 0 0 !important;
  width: fit-content !important;
}

.important-check-row {
  padding: 0 0 1rem 0 !important;
}

.unfound-item-image {
  width: 40px;
  height: 40px;
}
.footing {
  text-align: center;
}
img.pic {
    width: 100px;
    height: 100px;
}

.trackerTable {
    border: 1px solid black;
    background-color: #3F3F3F;
}
img {
    width: 80px;
    height: 80px;
}
div.images {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 100px;
    height: 110px;
    position: relative;
    text-align: center;
    max-width: 100px;
    min-width: 100px;
}

.promise-container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1;
  width: 100px;
  height: 110px;
  position: relative;
  text-align: center;
  max-width: 100px;
  min-width: 100px;
}

.promise-image {
  grid-column: 1;
  grid-row: 1;
}

.promise-heartless {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  width: 70px;
  margin-left: 5px;
}

div.drive-ability {
  display: grid; 
  position: relative;
  grid-template-columns: repeat(6, 1fr);
}
.settings-grid-column {
  padding-bottom: 5px;
}

.important-checks-grid-top {
  margin: 0 !important;
  padding-bottom: 30px !important;
}

.important-checks-grid-bottom {
  position: relative;
  bottom: 0;
  margin: 0 !important;
  padding-top: 30px !important;
}
.data {
    width: 60px;
    height: 60px;
    margin-left: 35px;
    z-index: 1;
}
.data2 {
    width: 60px;
    height: 60px;
    margin-top: -165px;
    margin-left: -5px;
    z-index: 1;
}
img.triangle {
  grid-row: 1;
  grid-column: 1 / span 2;
  z-index: 1;
  height: 40px;
  width: 40px;
}
.form {
  grid-column: 1 / span 3;
  grid-row: 1;
}
.ability {
  grid-column: 1 / span 4;
  grid-row: 1;
}
img.form-level {
  grid-row: 1;
  grid-column: 6;
  z-index: 1;
  margin-top: 30px;
  height: 50px;
  width: 50px;
}
.ability-level {
  grid-row: 1;
  grid-column: 4;
  z-index: 1;
  margin-top: 40px;
}
.hidden {
    display: none;
}
.opaque {
    opacity: 0.30;
}
td {
  width: 70px;
  height: 70px;
}
.world-image {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.worldIC {
  background-color: #1c3ced;
  color: #eee;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: 2px solid #0b154f;
  border-radius: 20px;
  outline: none;
  transition: 0.4s;
  opacity: 100%;
}
.listIC {
  padding: 0 18px;
  /* background-color: white; */
  display: none;
  overflow: hidden;
}
.heartless-image {
  grid-column: 1;
  grid-row: 1 / span 2;
  z-index: 1;
  width: 70px;
  margin-left: 5px;
}
div.world-checks {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 30px;
  background-color: transparent;
  background-image: none;
  color: white;
  font-weight: bold;
  grid-row: 3;
  grid-column: 1;
  margin-top: 20px;
  margin-right: 15px;
}
h1 {
    text-align: left;
}